<html>

<head>
</head>

<body>

    {% comment %} {% for comment in comments %}
       body : {{comment.body}} <br>
       name : {{comment.name}} <br>
       status : {{comment.status}} <br>
       product_id : {{comment.product.id}} <br>
       product_name : {{comment.product.name}} <br>
        ------------------------------------------------- <br>
    {% endfor %} {% endcomment %}

    {% for product in products %}
    name : {{product.name}} <br>
    unit_price : {{product.unit_price}} <br>
        {% for comment in product.comments.all %}
            comment_id : {{comment.id}} <br>
            comment_name : {{comment.name}} <br>
        {% endfor %}
    category_id : {{product.category.id}} <br>
    category_title : {{product.category.title}} <br>
     ------------------------------------------------- <br>
 {% endfor %}

</body>
</html>
